---
layout: default
title: Development
---

<div class="section">
    <div class="header">Development</div>
    <div class="body">

   <h3>Contact</h3>

    <p>We hang out on <b>irc.freenode.net</b> in the <b>#mana</b> channel</p>

    <h3>Git repositories</h3>

    <p>Available at <a href="https://gitlab.com/manasource">https://gitlab.com/manasource</a>.</p>
   </div>
</div>

