---
layout: default
title: Download
---

<div class="section">
    <div class="header">Downloads</div>
    <div class="body">

    <h3>Mana client 0.6.1</h3>
    <p>The latest stable release of the Mana client. By default this version only supports a custom version of eAthena since manaserv is still in development. If you want to try a manaserv-enabled build, it can be enabled as an option but it is probably better to get the master branch from the <a href="https://gitlab.com/manasource/mana">git repository</a>.<p>

    <ul>
    <li><p>Source: <a href="http://files.manasource.org/mana-0.6.1.tar.gz">mana-0.6.1.tar.gz</a> (4.5 MB)</p></li>
    <li><p>Windows: <a href="http://files.manasource.org/mana-0.6.1-win32.exe">mana-0.6.1-win32.exe</a> (5.8 MB)</p></li>
    <li><p>Ubuntu (and derivatives): use our <a
    href="https://launchpad.net/~mana-developers/+archive/ppa"/>Mana PPA</a> to
    install either stable releases or dailies.</p></li>
    <li><p>Fedora and openSUSE: packages built by the <a href="http://software.opensuse.org/download/package?project=games&package=mana">openSUSE Build Service</a>.</p></li>
    </ul>

    <p>See our wiki for <a
    href="http://doc.manasource.org/client_installation">installation
    instructions</a>.

    <p><i><a href="http://files.manasource.org/mana-0.6.1-shortlog.txt">Changes in 0.6.1</a></i></p>

    <h3>Mana client 0.6.0</h3>

    <ul>
    <li><p>Source: <a href="http://files.manasource.org/mana-0.6.0.tar.gz">mana-0.6.0.tar.gz</a> (4.5 MB)</p></li>
    <li><p>Windows: <a href="http://files.manasource.org/mana-0.6.0-win32.exe">mana-0.6.0-win32.exe</a> (5.8 MB)</p></li>
    </ul>

    <p><i><a href="http://files.manasource.org/mana-0.6.0-shortlog.txt">Changes in 0.6.0</a></i></p>

    <h3>Mana client 0.5.3</h3>
    <ul>
    <li><p>Source: <a href="http://files.manasource.org/mana-0.5.3.tar.gz">mana-0.5.3.tar.gz</a> (2.4 MB)</p></li>
    <li><p>Windows: <a href="http://files.manasource.org/mana-0.5.3-win32.exe">mana-0.5.3-win32.exe</a> (5.5 MB)</p></li>
    </ul>
    <p><i><a href="http://files.manasource.org/mana-0.5.3-shortlog.txt">Changes in 0.5.3</a></i></p>
    <p><i><a href="http://files.manasource.org/mana-0.5.2-shortlog.txt">Changes in 0.5.2</a></i></p>
    <p><i><a href="http://files.manasource.org/mana-0.5.1-shortlog.txt">Changes in 0.5.1</a></i></p>

    <h3>Nightlies for Windows</h3>

    <p>If you want to use the bleeding edge, but compiling is difficult on your system, you may want to try our <a href="http://nightlies.manasource.org">nightly builds for Windows</a>.</p>

   </div>
</div>
